/* #musicPlayer{
    width:500px;
    background-color: black;
    color: aliceblue;
} */
/* h5{
    background-color: black;
    color: aliceblue;
    width: 400px;
    border-radius: 10px;
} */
/* .container{
    background-color: aqua;
    margin-left: 300px;
    margin-right: 300px;
} */

